.album {
  padding: 1rem 0;
  .main {

    .col-container {
      padding: 1rem 1.5rem;
      width: 12.5%;
      display: inline-block;

      .song-card-bottom {
        padding: .3rem;
        height: 100%;

        .song-tag-container{
          margin: .1rem 0;
        }
        .card-info {
          height: 100%;

          .song-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .song-producers {
            font-size: 1.2rem;
            color: rgb(173, 173, 173);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@import './m';