#playlist-inscroll {
  max-height: 36.4rem;
  overflow: auto;

  .playlist-card-bottom {
    padding: .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: .1rem solid var(--shadow-color);

    .playlist-tag-container {
      width: 100%;
      flex: 1;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }

      .playlist-tag {
        margin-bottom: .4rem;
      }
    }

    .playlist-card-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .playlist-name {
        font-size: 1.3rem;
        color: rgb(92, 92, 92);
      }

      .playlist-actions {
        .playlist-edit {
          padding: 0 .2rem;
          font-size: 1.2rem;
        }
      }
    }
  }

}

.song {
  padding: 1rem 0;

  .main {
    .song-detail-container {
      width: 120rem;
      margin: 0 auto;

      .song-song-list {
        margin-top: 1rem;
        width: 100%;
        background: var(--common-color);

        .song-song-list-header {
          padding: 0 1rem;
          color: rgb(54, 54, 54);
          font-size: 1.3rem;
        }

        .song-song-list-item {
          width: 100%;

          .card-child {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1rem;

            span {
              margin: 0 1rem;
              font-size: 1.2rem;
              color: rgb(155, 155, 155);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }

      .song-detail-container-musiccard {

        .song-card-right {
          padding: 1rem 1rem .2rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 25rem;

          .song-card-right-tag-box {
            overflow: auto;
            width: 100%;
            height: 3rem;

            &::-webkit-scrollbar {
              height: 0;
              width: 0;
            }
          }

          .song-card-name {
            font-size: 1.6rem;

          }

          .song-card-describe {
            width: 100%;
            height: 70%;
            overflow: auto;
            border-bottom: .1rem solid var(--shadow-color);

            p {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre-wrap;
            }
          }

          .song-card-right-bottom {
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 1.4rem;
            overflow: hidden;

            p {
              font-size: 1.3rem;
              overflow: auto;
              white-space: nowrap;
              color: rgb(133, 133, 133);
              max-width: 50%;
            }

            .song-card-right-bottom-artist {
              width: 50%;

              &::-webkit-scrollbar {
                height: 0;
                width: 0;
              }
            }

            .song-card-right-bottom-time {
              padding-left: .4rem;

              &::-webkit-scrollbar {
                height: 0;
                width: 0;
              }
            }
          }
        }
      }

      .song-comment-list {
        margin-top: 1rem;
        background: var(--common-color);
        padding: 0 1rem;

        .song-comment-reply {
          color: black;
        }

        .song-comment-list-text {
          padding: 1.2rem 0;
          display: flex;
          align-items: center;

          .song-actions {
            display: inline-block;
            font-size: 2rem;

            &>span {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@import './m';