.form-upload-cover {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;

  .form-upload-cover-label {
    height: 3.2rem;
  }
}


.personal-center {
  background: var(--common-color);

  .main {
    .personal-center-container {
      width: 120rem;
      margin: 0 auto;

      .playlist-card-bottom {
        padding:.2rem .5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: .1rem solid var(--shadow-color);

        .playlist-tag-container {
          width: 100%;
          flex: 1;
          overflow: auto;

          &::-webkit-scrollbar {
            height: 0;
            width: 0;
          }

          .playlist-tag {
            margin-bottom: .4rem;
          }
        }

        .playlist-card-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .playlist-name {
            cursor: pointer;
          }

          .playlist-actions {
            .playlist-edit {
              padding: 0 .2rem;
              font-size: 1.2rem;
            }
          }
        }
      }

      .personal-info {
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--common-color);
        padding: .2rem .5rem;
        box-shadow: 0 .5rem 1rem .1rem rgb(247, 247, 247);

        .personal-name {
          flex: 1;
          padding: 0 1rem;
          font-size: 1.6rem;
          color: rgb(87, 87, 87);
        }

        .personal-info-avatar {
          display: flex;
          align-items: center;
        }
      }

      .personal-tabs {
        margin-top: 1rem;
        padding: 0 1rem;

        .upload-avatar {
          display: flex;
          flex-direction: column;
          padding: 0 2rem;
        }

        .password-form {
          padding: 0 2rem;
        }

        .msg-logout {
          padding: 0 2rem;
        }

        .playlist-add {
          width: 100%;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background: rgb(247, 247, 247);
          border-radius: 2rem;
        }
      }
    }
  }
}

@import './m';